.Presentation {
  position: relative;
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, #ff004c 0%, #b682c4 100%);
  overflow: hidden;
  margin-top: 160px;

  .content {
    text-align: center;
    color: white;
    z-index: 2;

    h1 {
      font-size: 5rem;
      margin-bottom: 10px;
      font-family: "Kumar One", serif;
      font-weight: 400;
      font-style: normal;
    }

    p {
      font-size: 2.5rem;
      margin-bottom: 20px;
      font-family: "Delius", serif;
      font-weight: 400;
      font-style: normal;
    }

    .icons {
      display: flex;
      justify-content: center;
      gap: 20px;

      a {
        color: white;
        font-size: 2rem;
        transition: transform 0.3s;

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }

  // Estilo de las burbujas
  .bubble {
    position: absolute;
    bottom: -50px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    animation: rise 4s linear infinite;
  }

  @keyframes rise {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-100vh);
      opacity: 0;
    }
  }
}
