.about {
  padding: 40px 20px;

  .container {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-text {
    h2 {
      font-size: 3rem;
      margin-bottom: 10px;
      font-family: "Delius", serif;
      color: #fa0b83;
      text-align: center;
    }

    p {
      font-size: 1.9rem;
      max-width: 600px;
      text-align: center;
      margin: auto;
      font-family: "Delius", serif;
      margin-bottom: 35px;
    }
  }
}

.skills {
  margin-top: 20px;
  height: auto;
  width: 70%;
  margin: 10px auto;

  .splide__list {
    display: flex;
    gap: 15px;
  }

  .splide__slide {
    display: flex;
    justify-content: center;
  }

  svg {
    font-size: 4rem;
    transition: transform 0.3s ease-in-out;
  }

  .react {
    color: #61dbfb;
  }
  .html {
    color: #e34f26;
  }
  .css {
    color: #1572b6;
  }
  .sass {
    color: #cc6699;
  }
  .tailwind {
    color: #38b2ac;
  }
  .js {
    color: #f7df1e;
  }
  .git {
    color: #f1502f;
  }
}

.splide {
  width: 100%;
  padding: 0 20px;
}

.splide__slide {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  /* Aquí cambiamos para que las slides se vean bien en móvil */
  .skills {
    .splide__list {
      gap: 15px;
    }

    .splide__slide {
      /* que cada slide ocupe todo el ancho */
      flex: 0 0 100%;
      margin: 0 auto;
    }
  }
}
