.about {
  padding: 40px 20px;

  .container {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-text {
    h2 {
      font-size: 3rem;
      margin-bottom: 10px;
      font-family: "Delius", serif;
      color: #fa0b83;
      text-align: center;
    }

    p {
      font-size: 1.9rem;
      max-width: 600px;
      text-align: center;
      margin: auto;
      font-family: "Delius", serif;
      margin-bottom: 35px;
    }
  }

  .skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;

    .icons {
      display: flex;
      gap: 10px;
      justify-items: center;
      margin-top: 20px;
      flex-wrap: wrap;
    }
    .icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 1.2rem;
      font-weight: bold;
      background: linear-gradient(135deg, #fdc4f661, #fdf3f7);
      padding: 15px;
      border-radius: 15px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      width: 100px;

      &:hover {
        background: linear-gradient(135deg, rgb(250, 27, 101), #fa0b83);
        color: white;
        transform: translateY(-5px) scale(1.1);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
      }

      svg {
        font-size: 3rem;
        transition: transform 0.3s ease-in-out;
      }

      &:hover svg {
        transform: rotate(10deg) scale(1.2);
      }

      .react {
        color: #61dbfb;
      }
      .html {
        color: #e34f26;
      }
      .css {
        color: #1572b6;
      }
      .sass {
        color: #cc6699;
      }
      .tailwind {
        color: #38b2ac;
      }
      .js {
        color: #f7df1e;
      }
      .git {
        color: #f1502f;
      }
    }
  }

  @media (max-width: 768px) {
    .icons {
      width: 100%;
      gap: 15px;
      flex-direction: column;
      align-items: center;
    }
  }
}
