.contact {
  text-align: center;
  padding: 60px 20px;
  background: linear-gradient(135deg, #f1b4dd, #802068);
  color: white;
  border-radius: 10px;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

  h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }

  .contact-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;

    .icon {
      font-size: 2.5rem;
      transition: transform 0.3s, color 0.3s;
      cursor: pointer;

      &.linkedin {
        color: #0077b5;
      }

      &.github {
        color: #333;
      }

      &.email {
        color: #f9f9f9;
      }

      &:hover {
        transform: scale(1.2);
        color: #fff;
      }
    }
  }
}

// 📱 Responsive
// @media (max-width: 480px) {
//   .contact {
//     padding: 40px 15px;
//   }

//   h2 {
//     font-size: 2rem;
//   }

//   .contact-icons {
//     gap: 15px;

//     .icon {
//       font-size: 2rem;
//     }
//   }
// }
