Header {
  height: 130px;
  padding: 12px 20px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  .logo {
    display: flex;
    align-items: center;
    width: 20%;

    a {
      display: flex;
    }

    .logo-img {
      height: 50px;
      width: auto;
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
