$bg-light: #f5f5f5;
$bg-dark: #0d1117;
$text-light: #333;
$text-dark: white;
$accent: #61dafb;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: $bg-light;
  color: $text-light;
  transition: background 0.3s, color 0.3s;
  flex-wrap: wrap;
  text-align: center;
}

.logo-img {
  width: 100px;
  height: 80px;
}

.menu-icon {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  width: 30%;
}

.nav-links.open {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  background: $bg-light;
  padding: 20px 0;
  text-align: center;
  transform: translateY(0);
}

.nav-links.closed {
  transform: translateY(-100%);
}

.nav-links li a {
  text-decoration: none;
  color: inherit;
  font-size: 1rem;
  transition: color 0.3s;
  cursor: pointer;
  font-family: "Delius", serif;
}

.nav-links li a:hover {
  color: $accent;
}

.theme-toggle {
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.3s;
}

.theme-toggle:hover {
  color: $accent;
}

// Modo oscuro
.dark-mode {
  background: $bg-dark;
  color: $text-dark;
}

.dark-mode .nav-links {
  background: $bg-dark;
}

// Para móviles estándar y tablets chicas
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .menu-icon {
    display: block;
  }
}
